<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings file="SecretAppSettings.config">
      <add key="MintSavedVariablesFilename" value="Mint.lua" />
      <add key="MintWebSuiteDir" value="C:\Users\New\Desktop\d\gitlab-mint-web-suite" />
      <add key="MintWebSuiteDistDir" value="dist" />
      <add key="MintWebSuitePnlFile" value="index.html" />
      <add key="MintDataFolder" value="saved-data" />
      <add key="MintDataFileExtension" value="json" />
    </appSettings>
</configuration>